 a:link {
  background-color: black;
  color: #0FFF50 !important;
  }

  a:visited {
  background-color: black;
  color: #0FFF50 !important;
  }

  a:hover {
  background-color: black;
  color: purple !important;
  }

  a:active {
  background-color: black;
  color: #0FFF50 !important;
  }
